// Page 
// Healthcare UI UX

.healthcare-uiux {
    font-family: "Roboto";

    %box-shadow {
        box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.1);
    }

    .wow {
        visibility: hidden;
    }

    @keyframes monitorShow {
        from {
            transform: translateY(120%);
            visibility: visible;
        }

        to {
            transform: translateY(0%);
            visibility: visible;
        }
    }

    &__h2 {
        font-size: 2rem;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        color: #233d63;

        @media (max-width: 767px) {
            font-size: 1.6rem;
        }
    }

    &__btn-primary {
        display: inline-block;
        padding: 20px 30px;
        border-radius: 3px;
        box-shadow: 0 10px 20px 0 rgba(111, 17, 255, 0.18);
        cursor: pointer;
        background-color: #361683;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: normal;
        color: #ffffff;
        text-decoration: none;

        &:hover {
            color: #ffffff;
            text-decoration: none;
        }

        // icon arrow right
        &--go {
            padding-right: 70px;
            background-image: url("../../../dist/img/arrow_right.png");
            background-repeat: no-repeat;
            background-position: center right 32px;
            padding-right: 70px;
            transition: background-position 0.25s ease;

            &:hover {
                background-position: center right 22px;
            }
        }

        @media (max-width: 767px) {
            padding: 15px 20px;

            &--go {
                padding-right: 50px !important;
                background-position: center right 20px;

                &:hover {
                    background-position: center right 14px;
                }
            }
        }
    }

    &__header {
        @media (min-width: 1200px) {
            .container {
                max-width: 1200px;
            }
        }
    }

    &__intro {
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        background-color: #F7F6FA;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 200;
            background-color: rgba(255, 255, 255, 0.55);
        }

        &__cont {
            width: 100%;
            flex: 1;
        }

        &__header {
            position: relative;
            width: 100%;
            padding: 15px;
            z-index: 300;
        }

        &__content {
            position: relative;
            z-index: 300;
            flex: 1;
            display: flex;
        }

        &__video {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 100;
            width: 100%;

            // height: 100%;
            object-fit: fill;
        }

        &__bgMobile {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @media (min-width: 1401px) {
            min-height: 800px;
        }

        @media (max-width: 1199px) {
            &__video {
                height: 100%;
            }
        }

        @media (max-width: 991px) {
            &__bgMobile {
                display: block;
            }

            &__video {
                display: none;
            }
        }
    }

    &__banner-top {
        overflow: hidden;
        display: flex;
        align-items: center;

        &__title {
            margin-bottom: 30px;
            font-size: 3.8rem;
            font-weight: bold;
            line-height: 1;
            color: #233d63;
        }

        &__text {
            margin-bottom: 40px;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 1.5;
            color: #223E63;
        }

        &__img {
            visibility: hidden;
            animation-duration: 2s;
            animation-delay: 1s;
            animation-name: monitorShow;
            transition-timing-function: cubic-bezier(0.11, 0.6, 0.46, 1.3);
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            will-change: transform;
        }

        @media (max-width: 991px) {
            &__img {
                margin-top: 40px !important;
            }
        }

        @media (max-width: 575px) {
            &__cont {
                padding: 0 15px;
            }

            &__title {
                font-size: 3rem;
            }

            &__text {
                font-size: 1rem;
            }

            &__img {
                max-width: 100%;
            }
        }

        @media (min-width: 576px) and (max-width: 767px) {
            &__cont {
                padding: 0 15px;
            }

            &__title {
                font-size: 3rem;
            }

            &__text {
                font-size: 1rem;
            }

            &__img {
                max-width: 100%;
            }
        }
    }

    // Section Customers
    &__customers {
        margin-top: 84px;
        margin-bottom: 84px;

        &__title {
            margin-bottom: 35px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: normal;
            color: #737b9a;
        }
    }

    // Section Why
    &__why {
        margin-top: 86px;
        margin-bottom: 64px;

        &__title {
            margin-bottom: 64px;
        }
    }

    // Block Why
    &__why-item {
        background-color: #ffffff;

        @extend %box-shadow;

        &__img {
            height: 200px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__cont {
            padding: 30px;
            text-align: center;
        }

        &__title {
            margin-bottom: 20px;
            font-size: 1.2rem;
            font-weight: bold;
            line-height: normal;
            text-align: center;
            color: #233d63;
        }

        &__text {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 1.75;
            text-align: center;
            color: #737b9a;
        }
    }

    &__section-filled {
        margin-top: 84px;
        margin-bottom: 84px;
        padding-top: 80px;
        padding-bottom: 40px;
        background-color: #fcfbff;
    }

    // Section Case Studies
    &__title-cases {
        margin-bottom: 60px;
    }

    &__caseSlider {
        margin-bottom: 110px !important;
        background-color: #f3f5ff;

        &__item {
            &:focus {
                outline: none;
            }

            &__titleA {
                margin-top: 34px;
                margin-bottom: 2px;
                font-size: 24px;
                font-weight: bold;
                line-height: normal;
                text-align: center;
                color: #233d63;
            }

            &__titleB {
                margin-bottom: 34px;
                font-size: 20px;
                font-weight: 500;
                line-height: normal;
                text-align: center;
                color: #737b9a;
            }

            &__img {
                height: 526px;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: contain;
            }

            &__tags {
                text-align: center;
                margin-bottom: 26px;
            }

            &__tag {
                display: inline-block;
                margin: 0 2px;
                padding: 6px 15px;
                border-radius: 15px;
                border: solid 1px #dbdbdb;
                background-color: #f3f5ff;
                font-size: 14px;
                line-height: normal;
                text-align: center;
                color: #233d63;
            }

            @media (max-width: 575px) {
                &__img {
                    height: 300px;
                }
            }

            @media (min-width: 576px) and (max-width: 767px) {
                &__img {
                    height: 400px;
                }
            }
        }

        ul.slick-dots {
            bottom: -50px;

            li {
                width: 13px;
                margin: 0 2px;

                &.slick-active {
                    width: 20px;

                    button {
                        &:before {
                            content: "";
                            width: 16px;
                            height: 3px;
                            border-radius: 3.5px;
                            opacity: 1;
                            background-color: #361683;
                        }
                    }
                }

                button {
                    &:before {
                        content: "";
                        width: 10px;
                        height: 3px;
                        opacity: 0.15;
                        border-radius: 3.5px;
                        background-color: #361683;
                    }
                }
            }
        }
    }

    &__title-speciality {
        margin-bottom: 50px;
    }

    // Block Speciality
    &__speciality-item {
        text-align: center;
        padding: 10px;

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 35px auto;
            vertical-align: middle;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background-color: #ded8ed;
            background-repeat: no-repeat;
            background-position: center;

            svg {
                width: 30px;

                * {
                    color: #361683 !important;
                }
            }
        }

        &__title {
            margin-bottom: 15px;
            font-size: 20px;
            line-height: normal;
            color: #233d63;
        }

        &__text {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 1.75;
            color: #737b9a;
        }
    }

    &__title-process {
        // margin-bottom: 30px;
   
    }

    &__title-sub-process {
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        color: #737b9a;
    }

    &__process-section {
        &__cont {
            padding: 55px 55px 60px 55px;
            background-color: #fff;

            @extend %box-shadow;

            @media (max-width: 1199px) {
                padding: 25px 25px;
            }
        }
    }

    // Block Speciality
    &__process-item {
        padding: 10px;

        &__img {
            margin-bottom: 30px;
            display: inline-block;
            max-width: 35px;
        }

        &__title {
            margin-bottom: 15px;
            font-size: 20px;
            line-height: normal;
            font-weight: bold;
            color: #233d63;
        }

        &__text {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 1.75;
            color: #737b9a;
        }
    }

    &__title-improve {
        margin-bottom: 80px;
    }

    // Block Improve
    &__improve-item {
        &__titleA {
            margin-bottom: 28px;
            font-size: 1.4rem;
            line-height: normal;
            font-weight: bold;
            color: #233d63;
        }

        &__text {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 1.75;
            color: #737b9a;
        }

        &__titleB {
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: 20px;
            line-height: normal;
            font-weight: bold;
            color: #233d63;
        }

        &__list {
            margin-bottom: 0;
            padding-left: 0;
            font-size: 16px;
            line-height: 1.75;
            color: #737b9a;
            list-style-type: none;

            > li {
                &:before {
                    content: "\2713";
                    margin-right: 10px;
                    font-weight: bold;
                    color: #361683;
                }
            }
        }
    }

    &__section-opinions {
        padding: 80px 0 20px 0;
        background-color: #7554b8;
    }

    // Block Opinion
    &__opinion-item {
        &__cont {
            position: relative;
        }

        &__head {
            margin-bottom: 25px;
            display: flex;

            &__col {
                &--icon {
                    width: 50px;
                    height: 50px;
                    background: #baa7e0;
                    border-radius: 39px;
                    margin-right: 16px;     
                    svg {
                        margin: 10px auto;
                        display: block;
                        width: 28px;          
                    }       
                }
            }
        }

        &__title-name {
            margin-bottom: 6px;
            font-size: 18px;
            font-weight: bold;
            line-height: normal;
            color: #ffffff;
        }

        &__title {
            font-size: 16px;
            line-height: normal;
            color: #ffffff;
        }

        &__avatar {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            width: 50px;
        }

        &__text {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.75;
            color: #ffffff;
        }
    }

    &__title-about {
        margin: 80px 0 60px 0;
    }

    &__feedbackCont {
        display: flex;

        &__colCont {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }

        &__col {
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &:first-child {
                flex: 1;
            }

            .healthcare-uiux__feedback {
                height: 100%;
            }
        }
    }

    &__feedback {
        padding: 35px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0 10px 40px 0 rgba(50,50,50,.1); 

        &__main {
            margin-bottom: 20px;
        }

        &__bottom {

        }

        &__icon {
            margin-bottom: 19px;
        }

        &__text {
          font-size: 18px;
          line-height: 1.67;
          letter-spacing: normal;
          color: #737b9a;
        }

        &__client {
          font-size: 18px;
          line-height: normal;
          letter-spacing: normal;
          color: #233d63;

          &__company {
            margin-top: 5px;
            font-size: 16px;
            color: #737b9a;
          }
        }
    }

    &__footer {
        margin-top: 50px;
        padding-bottom: 30px;
        padding-top: 0px !important;

        &__cont {
            padding-top: 45px;
        }

        &__line {
            height: 1px; 
            width: 100%;
            background-color: #f2f2f2;
        }

        &__item {
            font-size: 16px;
            line-height: normal;
            color: #737b9a;
        }

        .social-icons {
            li {
                margin-bottom: 0 !important;
            }

            a {
                background-color: transparent !important;
                border: solid 1px #e6e6e6;
                border-radius: 50% !important;
                transition: all 0.25s ease;
                line-height: 29px !important;

                .fab {
                    font-size: 13px;
                    color: black;
                }

                &:hover {
                    background-color: #361683 !important;

                    .fab {
                        color: white;
                    }
                }
            }
        }
    }
}