<!-- About us and Contact us -->
<div class="section-about-us-and-contact-us test">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/about-us/"  class="d-block">
                    <div class="about-us text-left">
                        <h2>About Us</h2>
                        <p><i class="fas fa-arrow-left"></i> SEE MORE</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/contact/" class="d-block">
                    <div class="contact-us text-right">
                        <h2>Contact Us</h2>
                        <p>LET'S TALK <i class="fas fa-arrow-right"></i></p>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-about-us-and-contact-us -->

<!-- Site Footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2  social-icons-area">
                <ul class="social-icons">
                    <!-- <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li> -->
                    <li>
                        <a href="https://www.facebook.com/dreamincolor.co/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li> -->
                    <li>
                        <a href="https://www.linkedin.com/company/dream-in-color-llc/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#">
                            <i class="fab fa-reddit"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-medium"></i>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-6 order-md-1 align-self-center">
                <p class="copyright">Copyright &copy; Dream In Color, 2018</p>
            </div>
        </div>
    </div>
</footer>