<!-- Header -->
<header class="site-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6 text-left">
                <a href="/"><img class="logo" srcset="/dist/img/logo.png 1x, /dist/img/2x/logo@2x.png 2x, /dist/img/3x/logo@3x.png 3x" src="/src/img/logo.png" alt="DreamInColor"></a>
            </div>
            <div class="col-6 text-right">
                <a class="menu-button" href="#">
                    <img class="bars" src="/src/img/bars.png" alt="">
                </a>
            </div>
        </div>
    </div>
</header>