<!-- Section menu overlay -->
<div class="section-menu-overlay" style="background-image: url(../dist/img/section-hero-bg.jpg)">
    <div class="overlay"></div>
    <div class="contents">
        <div class="logo">
            <img class="logo__image" src="../dist/img/logo_white.png">
        </div>
        <div class="menu-button-close">
            <i class="fa fa-times"></i>
        </div>
        <div class="menu-container">
            <p class="menu-item nav-item" data-section-name="section-hero">
                <a href="/">Home</a>
            </p>
            <p class="menu-item nav-item" data-section-name="section-about-us">
                <a href="/about-us/">About Us</a>
            </p>
            <p class="menu-item nav-item" data-section-name="section-contact-us">
                <a href="/blog/">Blog</a>
            </p>
            <p class="menu-item nav-item" data-section-name="section-contact-us">
                <a href="/contact/">Contact Us</a>
            </p>
            <p class="menu-item nav-item">
                <a class="technology-for" href="/nonprofits/">TECHNOLOGY FOR</a>
            </p>
            <p class="menu-item nav-item" data-section-name="section-clients-and-partners">
                    <a href="/nonprofits/">Non-Profits</a>
                </p>
            <p class="menu-item nav-item" data-section-name="section-clients-and-partners">
                <a href="/healthcare/">Healthcare</a>
            </p>
            <p class="menu-item nav-item" data-section-name="section-who-we-work-with">
                <a href="/higher-education/">Higher Education</a>
            </p>
            <p class="menu-item nav-item" data-section-name="section-our-services">
                <a href="/finance/">Finance</a>
            </p>
            <p class="menu-item nav-item" data-section-name="section-contact-us">
                <a href="/government/">Government</a>
            </p>
        </div>
    </div>
</div>