<div class="container-fluid">
    <div class="row v-align">
        <div class="col-6 text-left">
            <img src="src/img/logo.png" alt="">
        </div>
        <div class="col-6 text-right">
            <a class="menu-button" href="#">
                <img src="src/img/bars.png" alt="">
            </a>
        </div>
    </div>
</div>