.section{
	background-size: cover;
}
.section-non-profit , .section-healthcare, .section-higher-education, .section-financial-freedom, .section-government{
	h2{
		@include font-responsive(40px, 95, 320px, 672);
	}

	p {
		letter-spacing: 2.5px;
	}
}

#fullpage {
	.section{
		overflow: hidden;
		.overlay{
			background: rgba(54,15,131,0.55);
			position: absolute; 
			width: 100%; 
			height: 100%; 
			z-index:1;
		}
		.container{
		    z-index: 2;
			position: relative;
			height: auto;
			@media (min-width: 900px) {
				height: 100%!important;
			}
			display: table;
		}
		.about-us-hero-section{

		}
	}
}
.section-non-profit, .section-healthcare, .section-higher-education, .section-financial-freedom, .section-government{
	margin-bottom: 10px;
	.fp-tableCell{
	   vertical-align: top;
	}
	.content-area{
		max-width: 450px;
		//margin-top: 178px;
		margin-bottom: 50px;
		display: table-cell;
		vertical-align: middle;
		padding: 140px 0px;

	}
	small{
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: #ffffff;
		letter-spacing: 2px;
	}
	h2{
		font-family: 'Arvo-Italic';
		font-weight: 300;
		color: #ffffff;
		letter-spacing: 4.5px;
		color: #fff;
		line-height: 1;
	}
	p{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 24px;
		line-height: 30px;
		color: #fff;
		margin-top: 17px;
		margin-bottom: 35px;
		letter-spacing: 4.5px;
		max-width: 875px;
	}
}

.section-non-profit {
	background: url(../img/bg_non-profit.jpg) no-repeat;
	background-size: cover;
}

.section-healthcare{
	background: url(../img/bg_healthcare.jpg) no-repeat;
	background-size: cover;
}

.section-higher-education{
	background: url(../img/bg_height_education.jpg) no-repeat;
	background-size: cover;
}

.section-financial-freedom {
	background: url(../img/bg_financial_freedom.jpg) no-repeat;
	background-size: cover;
}

.section-government{
	background: url(../img/bg_government.jpg) no-repeat;
	background-size: cover;
}


