.section-testimonials {
	overflow: hidden;

	.carousel-item {
		.overlay {
			background: rgba(0, 0, 0, 0.38) !important;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}

	.testimonial {
		position: relative;
		z-index: 2;
		max-width: 1040px;
		margin: 0px auto;
		padding-top: 70px;
		padding-bottom: 60px;
		text-align: center;

		.comment {
			margin-top: 25px;
			margin-bottom: 9px;
			color: $white;
			@include font-responsive(18px, 10, 320px, 448);
			font-family: 'Montserrat', sans-serif;
			letter-spacing: 2.4px;
			color: $white;
		}

		.author {
			margin-top: 20px;
			color: $white;
			font-family: 'Arvo';
			@include font-responsive(18px, 10, 320px, 448);
			text-transform: uppercase;
		}
	}

	.testimonial-alqimi {
		.logo {
			img {
				width: 40%;

				@media (min-width: 992px) {
					width: 20%;
				}
			}
		}
	}

	.testimonial-world-services {
		.logo {
			img {
				width: 90%;

				@media (min-width: 992px) {
					width: 50%;
				}
			}
		}
	}

}

.section-testimonials.landing-page-testimonial-section {
	.testimonial {
		padding-top: 60px;
		padding-bottom: 101px;
		max-width: none;

		@media (min-width: 992px) {
			padding-top: 80px;
		}

		.comment {
			margin-top: 40px;
			@include font-responsive(18px, 10, 320px, 448);
			font-family: 'Arvo-Italic';
			letter-spacing: 3.6px;
			line-height: 48px;
		}

		.small_bar {
			width: 10px;
			height: 2px;
			background: #fff;
			margin-left: auto;
			margin-right: auto;
			margin-top: 27px;
			margin-bottom: 25px;
		}

		.author {
			margin-top: 20px;
			color: $white;
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
			@include font-responsive(18px, 10, 320px, 448);
			text-transform: uppercase;
		}
	}
}