.section-improve-your-technology {
	font-family: didact_gothicregular;
	h2 {
		font-size: 28px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 3.1px;
		font-family: 'Montserrat', sans-serif;
		color: rgba(54,15,131,1);
		margin-bottom: 65px;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		@include font-responsive(20px, 8, 320px, 448);
		@media (min-width: 768px) {
			margin: 30px auto; 
		}
		letter-spacing: 3.1px;
		color: rgba(0, 0, 0, 0.7);
	}
	padding: 94px 0px 40px 0px;
    a.call-to-action{
    	border: 2px solid #fff;
    	border-radius: 0px;
    	color: #fff;
    	font-family: 'Montserrat', sans-serif;
    	letter-spacing: 1.9px;
    	font-size: 17px;
    	font-weight: 400;
    	margin-top: 37px;
    	margin-bottom: 30px;
    	padding: 20px 30px;
    	background: #360f83;
    }
}
