.section-our-process2{
   @media (min-width:768px){
      // background: url(../img/amy-colleage.png) no-repeat -87px 622px
   }
   @media (min-width:1200px){
     // background: url(../img/amy-colleage.png) no-repeat -93px 392px;
   }
   @media (min-width:1440px){
     
   }
   @media (min-width:1760px){
     //background: url(../img/amy-colleage.png) no-repeat 0px 392px;
   }


   .inner-container{

   }

   margin-top: 70px;
   margin-bottom: 50px;
   h2{
   		font-size: 28px;
   		color: rgba(0, 0, 0, 0.7);
   		font-family: 'Arvo';
   		font-size: 28px;
         letter-spacing: 3.5px;
   }
   h3{
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		line-height: 36px;
		letter-spacing: 2px;
		color: #350e82;
        font-weight: bold;
   }
   p{
   	    font-family: 'didact_gothicregular';
   	    color: rgba(0, 0, 0, 0.7);
   	    font-size: 20px;
   	    line-height: 1.8;
   	    letter-spacing: 2px;
          margin-top: 40px;
   }
   .steps{
         position: relative;
         .amy-college{
             position: absolute;
             left: -120px;
             top: 0px;
             width: 350px;
             height: auto;
            @media (min-width: 1440px) { 
                width: auto;
                left: -255px;
                top: -141px;
            }
         }
   	   margin-top: 90px;
         @media (min-width: 768px) { 
            padding-left: 260px;
         }
   		.step{
   			overflow: hidden;
   			margin-bottom: 70px;
            .icon-wrap{
               text-align: center;
               margin-bottom: 30px;
               @media (min-width: 768px) { 
                     float: left;
               }
            }

   			.content{
               @media (min-width: 768px) { 
                  margin-left: 175px;
               }
   				h5{
   					color: #360f83;
   					font-size: 16px;
   					letter-spacing: 1.8px;
                  line-height: 1.8;
   					font-family: 'Arvo-Italic';
                  @media (min-width: 768px) { 
                     margin-left: -20px;
                  }
   				}
   				p{
   					line-height: 28px;
   					letter-spacing: 2px;
   					color: #360f83;
   					font-size: 18px;
   				}
   			}
   		}
   }
}