.section-our-clients{
	margin-bottom: 3rem;
	@media (min-width: 768px) { 
		margin-bottom: 2.6rem;
	}
	.section-header{
		h2{
		 	margin-top: 40px;
		 	margin-bottom: 10px;
			font-size: 1.4rem;
			letter-spacing: 7.6px;
			color: #360f83;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
		}
		p{
			font-family: 'Montserrat', sans-serif;
			font-weight: 200;
			font-size: 1.4rem;
			line-height: 1.2;
			letter-spacing: 2.2px;
			color: #000;
		}
		max-width: 840px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 45px;
		@media (min-width: 768px) { 
			margin-bottom: 90px;
		}
	}
	.logos{
		img{
			margin-bottom: 3rem;
			@media (min-width: 768px) { 
				margin-bottom: 6rem;;
			}
		}
	}
}
.most-recent-clients{
	.container-inner{
		padding: 50px 50px 0px;
		border-radius: 28px;
		background: #f1f1f1;
		box-shadow: 0px 0px 28px #f1f1f1;
	}
	.logos{
		img{
			margin-bottom: 3rem;
			@media (min-width: 768px) { 
				margin-bottom: 3rem;;
			}
		}
		img.end-logo{
           margin-bottom: 2rem!important;
		}
	}
	.section-header {
		margin-bottom: 55px;
		max-width: 870px;
		h2{
		    margin-top: 5px;
		    margin-bottom: 0px;
		    font-size: 1.4rem;
		    letter-spacing: 7.6px;
		    color: rgba(0, 0, 0, 0.7);
		    font-family: Montserrat,sans-serif;
		    font-weight: 400;
		}
		p{
          font-family: 'Arvo-Italic';
          font-size: 28px;
          line-height: 36px;
          letter-spacing: 2px;
          color: #7554b8;
		}
	}
}