.section-about-us-why-us{
	padding-top: 1px;
	padding-bottom: 60px;
	h2{
		font-size: 28px;
		letter-spacing: 3.3px;
        font-family: 'Arvo';
        margin-top: 4rem;
        margin-bottom: 2.5rem;
	}
	p{
		font-size: 20px;
		line-height: 36px;
		letter-spacing: 2px;
		font-family: 'didact_gothicregular';
		margin-bottom: 35px;
	}
    a.call-to-action{
    	border: 2px solid #fff;
    	border-radius: 0px;
    	color: #fff;
    	font-family: 'Montserrat', sans-serif;
    	letter-spacing: 1.9px;
    	font-size: 17px;
    	font-weight: 400;
    	margin-top: 74px;
    	margin-bottom: 30px;
    	padding: 20px 30px;
    	background: #360f83;
    }	
}
