.section-about-us-and-contact-us{
	h2{
		font-family: 'Arvo-Italic';
		@include font-responsive(35px, 13, 320px, 672);
		color: #ffffff;
		letter-spacing: 5.3px;
	}
	a{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 17px;
		line-height: 1.9px;
		color: #fff;
		margin-top: 30px;
		@media (min-width: 768px) {
			margin-bottom: 35px;
		}
		text-decoration:none;
	}
	.about-us{
		background-color: #360f83;
		padding: 55px 15px 15px 58px;
		p{
			font-weight: 200;
		}
	}
	.contact-us{
		background-color: #9b7bdb; 	
		padding: 55px 58px 15px 15px;

		p{
			font-weight: 200;
		}
	}
}
