
.tech-redesigned-page-banner{
    height: auto;
     min-height: 700px;

    @media (min-width: 768px) {
        .banner-content{
            margin-top: 45px;
        }
    }
    h1{
    	margin-bottom: 0px;
    	line-height: 1!important;
        margin-top: 65px!important;
        @media (min-width: 768px) {
           margin-top: 0px!important;   
        }
    }
    h2{
        margin-bottom: 35px;
    }
	p{
		max-width: 660px;
		margin-top: 25px;
		margin-bottom: 0px;
    	font-family: 'Montserrat', sans-serif;
    	font-weight: 300;
		//font-size: 24px;
        @include font-responsive(18px, 6, 320px, 672);
		color: #fff;
		letter-spacing: 2.67px;
        line-height: 1.2;
		span{
	    	font-family: 'Montserrat', sans-serif;
	    	font-weight: 700;
		}
	}
    a.call-to-action{
        z-index: 999;
        cursor: pointer;
    	border: 2px solid #fff;
    	border-radius: 0px;
    	color: #360f83;
    	font-family: 'Montserrat', sans-serif;
    	letter-spacing: 1.9px;
    	font-size: 17px;
    	font-weight: 600;
    	padding: 10px 20px;
        display: inline-block;
        margin-top: 30px;

        @media(min-width: 768px){
            padding: 20px 30px;
        }
    	background: #ffffff;
    	text-decoration: none;
    }

    a.call-to-action2{
        cursor: pointer;
        display: inline-block;
        min-width: 252px;
    	border: 2px solid #fff;
    	border-radius: 0px;
    	color: #fff;
    	font-family: 'Montserrat', sans-serif;
    	letter-spacing: 1.9px;
    	font-size: 17px;
    	font-weight: 600;
    	margin-top: 30px;
    	//margin-bottom: 30px;
    	padding: 10px 20px;
    	background: none;
    	text-decoration: none;
        
        @media(min-width: 768px){
            margin-left: 15px;
            //display: inline;
            padding: 20px 30px;
        }
    }
    .project-thumb{
        // position: relative;
        // .zigrah_img{
        //     position: absolute;
        //     bottom: 0px;
        //     right: 0px;
        // }   
    }
    .container{
        // height: auto;
        // min-height: 585px;
    }
    .banner-content{
        // position: relative;
        // transform: none;
        // top: 0px;
    }

}


