.section-schedule-and-live-chat{
	margin-top: 50px;
	margin-bottom: 80px;
    .section-header{
    	margin-bottom: 70px;
	    h5, p{
	    	font-family: 'Montserrat', sans-serif!important;
	    	font-weight: 400;
	    	font-size: 20px;
	    	line-height: 23px;
	    	letter-spacing: 2.2px;
	    	margin:0px;
	    	color: #360f83;

		}
    }
    .schedule-a-consultation-and-live-chat{
    	max-width: 830px;
    	a{
    		&:hover{
    			text-decoration: none;
    		}
    	}
    }
    .blue-box{
    	background: #360f83;
    	color: #fff;
    	padding: 33px 45px;
    	max-width: 285px;
    	margin-left: auto;
    	margin-right: auto;
    	font-family: 'Arvo-Italic';
    	font-size: 16px;
    	letter-spacing: 1.8px;
    	box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.23);

    	h6{
    		margin-top: 20px;
    	}
    }
    div.or{
		color: #360f83;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
    }
}