.section-useful-ui-ux-stats{
	overflow: hidden;
    h2{
   		font-size: 28px;
   		color: rgba(0, 0, 0, 0.7);
   		font-family: 'Arvo';
   		font-size: 28px;
   		letter-spacing: 3.5px;
   		margin-top: 5px;
    }
	.stats{
    	.stat{
    		background: #f1f1f1;
    		border-radius: 28px;
    		padding:30px 25px 20px;
    		overflow: hidden;
    		margin: 12px;
			max-width: 525px;
			//min-height: 330px;
			box-shadow: 0 0 24px #f1f1f1;
			position: relative;
    		.percent{
				width: 100%;
				text-align: center;
    			h2{
    				font-size: 55px;
    				color: #360f83;
    				letter-spacing: 2.92px;
    				font-family: 'Arvo-Italic';
                    margin: 0px;
                    line-height: 1;
    			}
    		}
    		.content{
				width: 100%;
				text-align: center;
				padding: 35px 15px 0 15px;
				// @media (min-width: 1400px) {
    			// 	margin-left: 230px;
    			// }
    			p{
    				color: rgba(0, 0, 0, 0.7);
    				font-size: 16px;
    				line-height: 31px;
    				letter-spacing: 2px;
    				margin-bottom: 5px;
    			}
    		}
			.source{
				letter-spacing: 1.89px;
				color: #360f83;
				font-size: 17px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 800;
				//position: absolute;
				//bottom: 15px;
				//left: 0;
                margin-top: 20px;
				text-align: center;
				display: block;
				width: 100%;
				&:hover{
					text-decoration: none;
				}
                @media (min-width: 768px) {
                    margin-top: auto;
                }
			}
    	}
	}

    .slick-track{
        display: flex;

        .slick-slide{
            display: flex;
            height: auto;
           // align-items: center; //optional
            //justify-content: center; //optional
            flex-direction: column;
        }
    }


}