.section-intro {
	overflow: hidden;
	margin-bottom: 10px;
	background: #360f83;
	.thumb-wrap {
		img {
			width: 50%;
			height: auto;
			// width: auto;
			// height: auto;
			// max-height: 700px;
		}
	}
	.intro-content {
		padding: 60px 15px 60px 15px;
		@media (min-width: 768px) {
			max-width: 840px;
			padding: 60px 30px 60px 60px;
		}
		color: $white;
		small {
			font-size: 1.2rem;
			font-family: 'Montserrat', sans-serif;
			font-weight:200;
			letter-spacing: 2px;
		}
		h1 {
			font-family: 'Arvo-Italic';
			@include font-responsive(2.2rem, 1.8, 320px, 448);
			letter-spacing: 4.5px;
		}
		p {
			//font-family: 'didact_gothicregular';
			font-family: 'Montserrat', sans-serif;
			font-weight: 200;
			font-size: 1.1rem;
			line-height: 1.3;
			letter-spacing: 1.8px;
		}
		.social-icons-area {
			margin-top: 3.5rem;
			text-align: left;
			.social-icons {
				margin-bottom: 0px;
				padding-left: 0px;
				display: inline-block;
				margin-left: -22px;
				li {
					float: left;
					list-style: none;
					margin-left: 22px;
					margin-bottom: 5px;
					a {
						.fa-stack i {
							background: white;
							border-radius: 10px;
							color: #360f83;
						}
					} // a{
					// 	display: block;
					// 	font-size:18px;
					// 	background: #ffffff;
					// 	color: #360f83;
					// 	text-align: center;
					// 	width: 33px; 
					// 	height: 33px; 
					// 	line-height: 33px;
					// 	@include border-radius(5px); 
					// }
				}
			}
		}
	}
}

.section-intro--team-collage {
	.thumb-wrap {
		.img-collage {
			width: 80%;
		}
	}
}