.section-our-design-services {
	background: #360f83;

	.call-to-action {
		z-index: 999;
		cursor: pointer;
		border: 2px solid white;
		border-radius: 0;
		color: white;
		font-family: Montserrat, sans-serif;
		letter-spacing: 1.9px;
		font-size: 17px;
		font-weight: 600;
		padding: 20px;
		background: transparent;
		text-decoration: none;
		margin: 20px auto 40px;
		display: block;
		width: auto;
	}

	.section-header {
		h2 {
			padding-top: 60px;
			padding-bottom: 10px;
			font-size: 30px;
			letter-spacing: 3.3px;
			color: #ffffff;
			font-family: 'Arvo-Italic';

		}

		p {
			font-family: 'didact_gothicregular';
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 1.6px;
			color: #fff;

			span {
				color: #360f83;
			}
		}

		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 55px;
	}

	.cards {
		.row {
			padding-left: 8px;
			padding-right: 8px;

			>div {
				padding-left: 7px;
				padding-right: 7px;
				margin-bottom: 30px;
			}
		}

		.card {
			color: #fff;
			background: #360f83;
			text-align: center;
			border: 2px solid #fff;
			border-radius: 0px;
			max-width: 460px;
			margin-left: auto;
			margin-right: auto;

			.card-body {
				@media (min-width: 1200px) {
					//padding: 3rem 2.8rem 2.1rem 2.8rem;
				}

				h5 {
					@include font-responsive(38px, 10, 320px, 672);
					@include font-responsive(28px, 20, 768px, 432);
					font-family: 'Arvo-Italic';
					margin-bottom: 2px;
				}

				h6 {
					font-size: 17px;
					color: #ffffff;
					font-family: 'Montserrat', sans-serif;
					margin-bottom: 4px;
				}

				p {
					strong {
						font-family: 'Montserrat', sans-serif;
						font-weight: 700;
						font-size: 17px;
						letter-spacing: 1.89px;
					}

					span {
						color: #360f83;
					}
				}

				ul li {
					text-align: left;
					font-size: 18px;
					letter-spacing: 0.13px;
					line-height: 24.4px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 300;
					margin-bottom: 25px;
					list-style: none;
					position: relative;

					&:before {
						content: '✓';
						position: absolute;
						left: -37px;
						top: 0px;
					}
				}

				a.card-link {
					display: inline-block;
					color: #224663;
					font-family: 'Montserrat', sans-serif;
					cursor: pointer;

					@include font-responsive(14px, 3, 320px, 237.98);
					@include font-responsive(14px, 3, 768px, 432);
					font-weight: 400;
					background: #fff;
					border: 0px;
					border-radius: 0px;
					margin-bottom: 30px;
					padding: 23px 26px;

					@media (min-width: 768px) {
						padding: 10px;
					}

					@media (min-width: 992px) {
						padding: 23px 26px;
					}

				}

				.card-price {
					font-family: 'Montserrat', sans-serif;
					font-weight: 300;
					bottom: 60px;
				}

				.card-timeline {
					bottom: 25px;
					font-weight: 500;
					font-size: 22px;
				}
			}
		}

		.card-ui-design {
			background: white;
			color: #224663;

			h6.card-timeline {
				color: #224663;
			}

			@media (min-width: 992px) {
				.card-price {
					margin-top: 60px;
				}
			}
		}

		.card-ux-research {
			@media (min-width: 992px) {
				.card-price {
					margin-top: 20px;
				}
			}
		}

		.card-development {
			@media (min-width: 992px) {
				.card-price {
					margin-top: 0px;
				}
			}
		}

	}

	.subscribtion-form {
		//max-width: 640px;
		max-width: 460px;

		@media (min-width: 768px) {
			max-width: 640px;
		}

		margin: 30px auto 50px auto;
		position: relative;
		padding-bottom: 50px;

		input[type="email"] {
			border: 2px solid #fff;
			color: #f1f1f1;
			@include font-responsive(11px, 8, 320px, 237.98);
			letter-spacing: 1.89px;
			width: 100%;
			height: 70px;
			line-height: 1;
			background: #360f83;
			border: 2px solid #fff;
			padding: 5px 70px 5px 10px;

			@media (min-width: 768px) {
				padding: 5px 70px 5px 30px;
			}

			position: relative;
			z-index: 1;
		}

		input[type="submit"] {
			background: url(../img/arrow_right.png) no-repeat;
			background-position: center center;
			border: none;
			outline: none;
			cursor: pointer;
			position: absolute;
			top: 0px;
			right: 0px;
			z-index: 2;
			text-indent: -9999999px;
			width: 68px;
			border-left: 1px solid #fff;
			height: 70px;
		}

		label {
			margin-bottom: 0px !important;
			color: #fff;
			font-family: Montserrat, sans-serif;
			font-weight: 300;
			font-size: 14px;
		}
	}
}