.section-hero {
	.content-area {
		display: table-cell;
		vertical-align: middle;
		p {
			max-width: 100%;
			margin: 20px auto;
			display: block;
			font-size: 27px;
			font-weight: 200;
		}
	}
	h1 {
		@include font-responsive(36px, 52, 320px, 767.98); //@include font-responsive(36px, 24, 320px, 767.98);
		//@include font-responsive(60px, 28, 768px, 991.98);
		font-family: 'Montserrat', sans-serif;
		line-height: 150px;
		font-weight: 100;
		color: rgba(0, 0, 0, 0.7);
		top: 50%;
		transform: translateY(-50%);
		position: relative;
		z-index: 2;
	}
	h2 {
		@include font-responsive(41px, 97, 320px, 880); //@include font-responsive(41px, 45, 320px, 767.98);
		//@include font-responsive(86px, 52, 768px, 991.98);
		font-family: 'Arvo-Italic';
		letter-spacing: 1px;
		color: #360f83;
		margin-top: -80px;
		margin-bottom: 15px;
	}
	.text-blue {
		font-family: 'Montserrat', sans-serif;
		@include font-responsive(20px, 8, 320px, 448);
		letter-spacing: 3px;
		color: #361980;
		letter-spacing: 3.1px;
		font-weight: 600;
	}
	.content-block {
		font-family: 'Montserrat', sans-serif;
		font-weight: 200;
		@include font-responsive(20px, 8, 320px, 767.98);
		letter-spacing: 3px;
		color: #4a4a4a;
		span {
			color: #361980;
			letter-spacing: 3.1px;
		}
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		.btn {
			background: #361980;
			color: white;
			width: 170px;
			@media (min-width: 576px) {
				width: 30%;
			}
		}
		.signature {
			font-family: 'Arvo';		
		}
	}
}

//Fixing issues with the .section-hero text due to the white background of the .site-header 
.about-us, .contact-us {
	.section-hero {
		h2 {
			
			@media (min-width: 992px) {
				margin-top: -95px;
			}
		}
		margin-top: 50px;
		@media (min-width: 768px) {
			margin-top: 200px;
		}
	}
}

.contact-page-hero {
	padding-top: 150px;
	@media (min-width: 768px) {
		padding-top: 50px;
	}
}

/* .about-us {
	.section-hero {
		h1 {
			position: relative;
			z-index: 2;
		}
		h2 {
			//margin-top: -200px;
			margin-top: -80px;
			@media (min-width: 992px) {
				margin-top: -90px;
			}
			position: relative;
			z-index:1;
		}
	}
} */