.section-banner-bottom {
	font-family: didact_gothicregular;
	h2 {
		font-size: 28px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 3.1px;
		color: rgba(0, 0, 0, 0.7);
		margin-bottom: 30px;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-weight: 200;
		@include font-responsive(20px, 8, 320px, 448);
		@media (min-width: 768px) {
			max-width: 50%;
			margin: 20px auto; 
		}
		letter-spacing: 3.1px;
		color: rgba(0, 0, 0, 0.7);
	}
	padding: 90px 0px 40px 0px;
}