.page-banner {
	position: relative;
	overflow: hidden;
	// min-height: 780px;
	height: 100vh;
	background-size: cover;
	.overlay {
		background: rgba(0, 0, 0, 0.38);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.overlay_purple {
		//background: rgba(54, 15, 131, 0.7);
		background: rgba(54,15,131,.25);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.banner-content {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		width: 100%;
		z-index: 999;
		h1 {
			@include font-responsive(20px, 28, 320px, 672);
			@media (min-width: 992px) {
				line-height: 70px;
			}
			letter-spacing: 5.5px;
			color: $white;
			font-weight: $font-weight-light;
			font-family: 'Montserrat', sans-serif;
			margin-top: 0px;
		}
		h2 {
			@include font-responsive(30px, 60, 320px, 780);
			@media (min-width: 992px) {
				line-height: 70px;
			}
			letter-spacing: 11.2px;
			color: $white;
			font-family: 'Arvo-Italic';
		}
	}
}

.technology-for-govt-page-banner {
	background: url(../img/bg_government.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.non-profit-page-banner {
	background: url(../img/bg_non-profit.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.health-care-page-banner {
	background: url(../img/bg_healthcare.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.higher-education-page-banner {
	background: url(../img/bg_height_education.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.financial-freedom-page-banner {
	background: url(../img/bg_financial_freedom.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.tech-redesigned-page-banner{
	background: url(../img/landing_page_banner_bg.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
