body.disable-scroll,html.disable-scroll{
  margin:0;
  height:100%;
  overflow:hidden
}
.section-menu-overlay {
  background-size: cover;
  background-position: center center;
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999999999;
  display: none;
  top: 0;
  &.show {
    display: block;
  }
  .overlay {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    overflow: auto;
    .logo {
      .logo__image {
        width: 220px;
        @media (min-width: 500px) {
          width: 360px;
        }
      }
    }
    .menu-container {
      .nav-item a{
      display: block;
        //font-weight: $font_primary_light;
        //font-family: 'didact_gothicregular';
        font-style: italic;
        font-family: Arvo-Italic;
        color: #fff;
        margin-bottom: 35px;
        @include font-responsive(16px, 14, 320px, 672);
        @media (min-width: 768px){
           margin-bottom: 80px;
        }
        text-align: center;
        letter-spacing: 5px;
        cursor: pointer;
        &.technology-for {
          font-family: 'Montserrat';
          font-weight: 200;
          color: #999;
          text-align: center;
          @include font-responsive(16px, 14, 320px, 672);
          &:hover {
            color: #999;
          }
        }
        &.active {
          //font-weight: $font_primary_bold;
          //font-weight: 700;
          color: #fff524;
        }
        &:hover {
          //font-weight: $font_primary_bold;
          //font-weight: 700;
          color: #fff524;
          text-decoration:none;
        }
      }

    }
    .menu-button-close {
      position: absolute;
      top: 0px;
      right: 35px;
      color: #fff;
      height: 50px;
      width: 50px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @media (min-width: 500px) {
        top: 20px;
      }
    } // .menu-button
    .logo {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 50px;
    } // .logo
  } // .contents
}
