.section-our-services{
	.section-header{
		h2{
		 	margin-top: 28px;
		 	margin-bottom: .8rem;
			@include font-responsive(40px, 28, 320px, 672);
			letter-spacing: 7.6px;
			color: #360f83;
			font-family: 'Arvo-Italic';
		}
		p{
			font-family: 'Montserrat', sans-serif;
			font-weight: 200;
			font-size: 20px;
			line-height: 26px;
			letter-spacing: 2.2px;
			color: #000;
		}
		max-width: 835px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 120px;
		@media (min-width: 768px) { 
			margin-bottom: 150px;
		}
	}
	.services {
		 .service {
			text-align: center;
			margin-bottom: 80px;
			@media (min-width: 768px) { 
				margin-bottom: 120px;
			}
			h3{
				font-family: 'Arvo-Italic';
				font-size: 18px; 
				letter-spacing: 2px;
				color: #361980;
				margin-bottom: 20px;
			}
			P{
			 	max-width: 240px; 
			 	margin-left: auto;
			 	margin-right: auto;
				font-size: 16px;
				letter-spacing: 2px; 
				color: #222222;
				font-family: 'Montserrat', sans-serif;
				font-weight: 200;
			}
		}
	}
}

