.section-our-process{
    //background: #360f83;
	.section-header{
        h2, 
        h3,
        sup {
            font-family: 'Arvo-Italic';
        }
		h2{
		 	margin-top: 175px;
			@include font-responsive(2.2rem, 2, 320px, 448);
			font-size: 2.2rem;
			letter-spacing: 7.6px;
			color: #360f83;
        }
        h3 {
            margin-bottom: 20px;
            position: relative;
        }
        sup {
            font-size: 25px;
            top: 10px;
            position: absolute;
        }
        p {
            max-width: 90%;
            margin: 0 auto 20px;
            display: block;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			@include font-responsive(20px, 8, 320px, 767.98);
            &:last-child {
                margin: 0 auto 50px;
            }
        }
	}
	.steps{
		.step{
			h3{
				color: #360f83;
				font-size: 1rem;
				font-family: 'Arvo-Italic';
				margin: 1.5rem 0 1rem 0;
				text-transform: uppercase;
				@media (min-width: 768px) { 
					margin: 2rem 0 1.5rem 0;
				}
			}
			p{
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
				@include font-responsive(12px, 7, 320px, 767.98);
				line-height: 30px;
				letter-spacing: 2px;
				color: #360f83;
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
			}
			margin-bottom: 4rem;
			@media (min-width: 768px) { 
				margin-bottom: 6rem;
			}
		}
	}
}