.highlight span {
  //display:inline;
  width: max-content;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #fff 50%, rgba(248, 231, 28, 0.80) 50%);
  background-position: 0% 0;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 6px 10px;
}

.section-our-design-services .highlight span {
  background-image: linear-gradient(to right, #360f83 50%, rgba(248, 231, 28, 0.80) 50%);
  padding: 1px 10px;
}

.highlight.active span {
  animation-name: highlight;
}

@keyframes highlight {
  from {
    background-position: 0% 0;
  }

  to {
    background-position: -100% 0;
  }
}



.section-what-we-do {
  @media (min-width: 768px) {
    .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
      max-width: 1440px;
    }
  }

  .parent {
    display: flex;
    //height: 100%;
    align-items: flex-start // img{
    //   //width: 230px;
    //  // height: auto;
    // }
    // @media (min-width: 992px){
    //  // img{width: auto;}
    // }

  }

  .child--featured {
    flex-grow: 1;
    margin-top: 72px;
  }


  h2 {
    font-family: 'Arvo-Italic';
    font-size: 28px;
    line-height: 36px;
    color: #360f83;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 35px;
    margin-bottom: 38px;
  }

  p {
    font-family: 'didact_gothicregular';
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.7);
  }

  a.call-to-action {
    border: 2px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.9px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 60px;
    padding: 20px 30px;
    background: #360f83;
  }

  .social-proof {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}