.section-carousel{
	background: #360f83;
	padding: 80px 0 0 0;
	margin-bottom: 110px;
	.carousel-inner {
		.container {
			max-width: 1440px;
		}
	}
	.carousel-item{
		.carousel-left{
			padding-left: 30px;
		}
		color: $white;
		ul {
			margin: 40px 0;
			padding: 0 0 0 15px;
			letter-spacing: 1.5px;
			@media (min-width: 768px){
				width: 75%;
			}
			li {
				margin-bottom: 15px;
				list-style:none;
				font-size: 16px;
				font-family: 'didact_gothicregular';
				line-height: 22px;
				list-style: square;
			}
		}
		small{
			font-size: 16px;
			font-family: 'Montserrat', sans-serif;
			font-size: 16px; 
			letter-spacing: 2px;
			font-weight: 200;
		}
		h2{
			font-size: 30px;
			letter-spacing: 3.3px;
			font-family: 'Arvo-Italic';
			color: $white;
			margin-top: 10px;
			//margin-bottom:40px;
			margin-bottom: 20px;
			max-width: 525px;
		}
		p{
			font-size: 16px;
   			font-family: 'didact_gothicregular';
			color: $white;
			line-height: 22px;
			letter-spacing: 3px;
			margin-bottom: 30px;
		}
		.call-to-action{
			color: #224663;
			@include font-responsive(12px, 3px, 320px, 448);
			letter-spacing: 1.9px;
			//width: 45%;
			text-align: center;
			padding-top: 17px;
			padding-bottom: 17px;
			font-family: 'Montserrat', sans-serif;	
			background: $white;	
			margin: 40px 0;
			@include border-radius(0px);
		}
	}
	// Hid the carousel items because as of right now, we are only showing ONE item. Remove/uncomment to show the arrows again.
	.carousel-control-prev, .carousel-control-next {
		display: none;
	}
	
}

.section-carousel--most-popular {
	.col-project {
		position: relative;
		img {
			width: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			border-radius: 7px;
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}
	}
}