.section-stats{
    padding-top: 10px;
    .stat{
        max-width: 526px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 55px;
        margin-bottom: 55px;
        h2{
          font-family: 'Arvo-Italic';
          @include font-responsive(52px, 28, 320px, 672);
          color: #360f83;
          letter-spacing: 3.1px;
          margin-bottom: 5px;
        }
        p{
          font-family: 'didact_gothicregular';
          font-size: 18px;
          letter-spacing: 3px;
          color: #360f83;
        }
        &:last-child{
            margin-bottom: 40px;
        }
    }

    p.sources{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        letter-spacing: 0.54px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #360f83;
        border-top: 1px solid #e3e3e3;
        max-width: 545px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        padding-top: 40px;
    }
}