.section-our-beliefs{
	margin-bottom: 3rem;
 	@media (min-width: 768px) { 
 		margin-bottom: 8rem;
 	}
	.section-header{
		h2{
		 	margin-top: 3rem;
		 	@media (min-width: 576px) { 
		 		margin-top: 2.70rem;
		 	}
		 	@include font-responsive(2.2rem, 2, 320px, 448);
		 	margin-bottom: .5rem;
			letter-spacing: 7.6px;
			color: #360f83;
			font-family: 'Arvo-Italic';
		}
		p{
			font-family: 'Montserrat', sans-serif;
			font-size: 20px;
			line-height: 26px;
			letter-spacing: 2.2px;
			color: #000;
		}
		max-width: 840px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 45px;
	 	@media (min-width: 768px) { 
			margin-bottom: 90px;
	 	}

	}
	.boxes{
		padding-left: 5px; 
		padding-right: 5px;
		> div{
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 20px;
		}
		.box{
			background-color: #360f83;
			color: #fff;
			padding: 30px;

			h3{
				font-family: 'Arvo-Italic';
				letter-spacing:2px;
				font-size: 17px;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;
				margin-bottom: 1rem;
			}
			p{
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
				@include font-responsive(10px, 8, 320px, 767.98);
				text-align: center;
    			line-height: 1.8rem;
				margin: 0 auto;
				line-height: 25px;
				max-width: 70%;
			}
		}
	}
}