.section-contact-form{
	.container{
		max-width: 840px;
	}
	.section-header{
		h2{
			color: #361980;
			font-size: 28px;
			letter-spacing: 3.3px;
			font-weight: 700;
			font-family: 'Montserrat', sans-serif;
			margin-bottom: 40px;
		}
		p{
			color: #4a4a4a;
			font-size: 22px;
			letter-spacing: 3.3px;
			font-family: 'Montserrat', sans-serif;
		}
	}

	.contact-form{
		padding: 0px 30px;
		.form-control{
			border:none;
			border-bottom: 1px solid #361980;
			border-radius: 0px;
			color: #111111!important;
			padding-left:0px;
			padding-right: 0px;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 35px;
		}
		button.submit-btn{
			border-radius: 0px;
			background: #360f83;
			color: #fff;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #a4a4a4!important;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #a4a4a4!important;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #a4a4a4!important;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #a4a4a4!important;
		}

	}

	.social-icons-area{
		margin-top: 105px;
		margin-bottom: 85px;
		text-align: center;
		.social-icons{
			padding-left: 0px;
			display: inline-block;
			margin-left: -22px;
			li{
				float: left;
				list-style: none;
				margin-left: 22px;
				margin-bottom: 5px;
				a{
					display: block;
					font-size:18px;
					background: #360f83;
					color: #fff;
					text-align: center;
					width: 33px; 
					height: 33px; 
					line-height: 33px;
					@include border-radius(5px); 
				}
				&:first-child{
					//margin-left: 0px;
				}
			}

		}
	}
}

