.section-our-recent-projects {
	background: #7554b8;
	overflow: hidden;
	color: #fff;
	.section-header{
		padding-top: 30px;
		padding-bottom: 10px;
		h2{
			font-size: 18px;
			line-height: 35px;
			letter-spacing: 3.6px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
		}

	}
	.projects{
		.project{
			.logo{
				img{
					display: inline-block;
				}
			}
			.project-details{
				max-width: 70%;
				margin: 20px auto 45px auto;
				p{
		    		font-family: 'didact_gothicregular';
					font-size: 20px;
					line-height: 28px;
					letter-spacing: 1.6px;
				}
			}
		    a.call-to-action{
				cursor: pointer;
		    	border: 2px solid #fff;
		    	border-radius: 0px;
		    	color: #224663;
		    	background: #fff;
		    	font-family: 'Montserrat', sans-serif;
		    	letter-spacing: 1.9px;
		    	font-size: 17px;
		    	font-weight: 400;
		    	display: inline-block;
	            text-decoration: none;
		    	margin-bottom: 35px;
				padding: 20px 30px;
		    }
		    .project-thumb{
		    	img{
			    	margin-left: auto;
			    	margin-right: auto;
		    	}
		    }
		}		

	}
}
