.section-contact-info{
	margin-top: 80px;
	margin-bottom: 75px;
	.section-header{
		h2{
		 	margin-top: 28px;
		 	margin-bottom: 55px;
			@include font-responsive(40px, 28, 320px, 672);
			letter-spacing: 7.6px;
			color: #360f83;
			font-family: 'Arvo-Italic';
		}
	}
	.contact-info{
		color: #222222;
		font-size: 20px; 
		letter-spacing: 2.2px;
		span{
			color: #321582;
			font-weight: 700;
		}
	}
}