.site-header{
	position: fixed;
	//margin-top: 12px;
	//position: absolute;
	padding: 15px;
	top: 0px;
	width:100%;
	z-index:999999999;
	//position:relative;
	//background: white;
	background:rgba(255,255,255,.60);
	.v-align{
		display: flex;
		align-items: center;
	}
	&.nav-up {
		top: -86px;
	}
	.logo{
		width: 200px;
		height: auto;
		@media (min-width: 576px){
			width: 250px;
			height: auto;
		}
	}
	.bars{
		width: 40px;
		height: auto;
		@media (min-width: 576px){
			width: 64px;
			height: auto;
		}
	}
}
//Redesign Landing page
.header-and-banner-area{
    header{
    	position: absolute;
    	top: 5px;
    }
}
.container-fluid{
	max-width: 1440px;
}