.site-footer{
	padding-top: 45px;
	padding-bottom: 70px;
	p.copyright{
		color: #222222;
		font-size: 15px;
		letter-spacing: 1.7px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		@media (min-width: 768px) { 
			text-align: left;
		}
	}
	.social-icons-area{
		text-align: center;
		@media (min-width: 768px) { 
			text-align: right;
		}
		.social-icons{
			margin-left: -22px;
			padding-left:0px;
			display: inline-block;
			li{
				float: left;
				list-style: none;
				margin-left: 22px;
				margin-bottom: 5px;
				a{
					display: block;
					font-size:18px;
					background: #360f83;
					color: #fff;
					text-align: center;
					width: 33px; 
					height: 33px; 
					line-height: 33px;
					@include border-radius(5px); 
				}
			}
		}
	}
	div.copyright{
		font-size: 15px;
		letter-spacing: 2.2px;
		color: #222;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		margin-top:10px;
	}
}

