.website-redesign-form{
   .back-to-landing-page-link{
   	   color: #360f83;
   	   font-size: 14px;
   	   letter-spacing: 1.56px;
   	   font-family: 'Arvo';
   	   text-decoration: none;
   	   text-transform: uppercase;
   	   display: inline-block;
   	   margin-top: 45px;
   	   margin-left: 45px;
   }
   .contact-page-hero{
   	   margin-top: 40px;
   }
   .dreamincolor-logo{
   	   margin-bottom: -30px;
   }
   .section-contact-info{
   		margin-bottom: 85px;
   }
   .section-contact-form{
   		.section-header{
   			margin-bottom: 67px;
   			h2{
   				margin-bottom: 0px;
   			}
   		}
   		.contact-form{
   			select.form-control{
   				color: rgba(0, 0, 0, 0.38)!important;
   			}
   			select.form-control option{
   				color: #111!important;
   			}
   			select.form-control.placeholder{
	            color: #111!important;
	        }
   		}
   		.schedule-an-appointment{
   			margin-bottom: 75px;
   		}
   } 



    // Testimonial section
	.section-testimonials{
		overflow: hidden;
		.carousel-item{
			.overlay{
				background: rgba(0,0,0,0.38)!important;
				position: absolute; 
				width: 100%; 
				height: 100%; 
				z-index:1;
			}
		}
		.testimonial{
			position: relative;
			z-index: 2;
			max-width: 1040px;
			margin: 0px auto;
			padding-top: 70px;
			padding-bottom: 60px;
			text-align: center;
			.comment{
				margin-top: 25px;
				margin-bottom: 9px;
				color: $white;
				@include font-responsive(14px, 10, 320px, 448);
				font-family: 'Didact Gothic', sans-serif;
				letter-spacing: 2.4px;
				color: $white;
			}
			.author{
				margin-top: 20px;
				color: $white;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				@include font-responsive(10px, 6, 320px, 448);			
				text-transform: uppercase;
			}

		}

	}
	.site-footer{
		padding-top: 35px;
        padding-bottom: 15px;
		p.copyright{
			color: #222;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
		}
	}

}